<ion-content [fullscreen]="true">
  <!-- <div class="top">
    <div class="left">
      <div class="box" (click)="navigate('pop')">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>
    </div>
    <div class="news-icon">
      <img src="../../../assets/icon/icons8-event-accepted-150.png" alt="" srcset="">
      EVENTS/ PROGRAMS
    </div>
    <div class="right">
      <div class="profile"></div>
    </div>
  </div> -->

  <!-- row 1 with ghana flag background image -->
  <div style="position: relative; height: 15%; z-index: 1;">

      <div
        style="position: absolute; z-index: -1; top: 0; bottom: 0;left: 0;right: 0;background: url('../../../assets/img/ghana\ flag.jpg') no-repeat center center;opacity: .2;background-size: cover;width: 100%;height: 100%;">
      </div>

      <div style="display: flex; height: 100%;">
        <!-- left arrow div -->
        <div style="width: 10%;">
          <ion-icon name="chevron-back-circle" style="color:red; font-size: xx-large;"></ion-icon>
        </div>

        <!-- apply logo and text -->
        <div style=" width: 70%; display: flex; justify-content: center; align-items: center; ">
          <div>
            <img src="../../../assets/icon/icons8-apply-80.png" style="width: 35px; height:35px;" />
          </div>
          <div style="padding-left: 5px;font-size: 0.8rem">
            <b>EVENTS/ PROGRAMS</b>
          </div>
        </div>

        <!-- thumbnail -->
        <div style="width: 20%; display: flex; align-items: flex-start; justify-content: center; padding-top: 10px;">
          <img src="../../../assets/img/head.png" style="width: 50px; height:50px; border-radius: 30px;" />
          <ion-icon name="chevron-down-circle" style="color:black; font-size: xx-large; padding-top: 10px;"></ion-icon>
        </div>
      </div>

  </div>
  
  <div class="container">
      <div class="spacer"></div>

      <div class="who-we-are">
        <div class="main-stories">
          <div class="title">
            <p>Main Stories</p>
            <div class="line"></div>
          </div>
          <div class="navigation">
            <ion-icon class="back" name="chevron-back-outline"></ion-icon>
            <ion-icon class="forward" name="chevron-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
    
      <div class="card-news">
        <div class="card_image" style="background: url(../../../assets/icon/madison.jpg) no-repeat top center/cover;">  
          <p>
            <ion-button>BREAKING</ion-button>
            <span>
              AFTER SHAKING HANDS FACIAL
              EXPRESSION SHOWED THERE
              WOULD NOT BE ANY CORONA 2.0
              UPDATE
            </span>
          </p>
          <div class="card_title">
            <div class="controls">
              <div class="views-main">
                <div class="views">
                  <ion-icon name="time"></ion-icon>
                </div>
                <p>May 1, 2021</p>
              </div>
    
              <div class="admin-main">
                <div class="admin">
                  <ion-icon name="person-outline"></ion-icon>
                </div>
                <p>Admin</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="spacer"></div>
    
      <div class="who-we-are">
        <p>News Update</p>
        <div class="line"></div>
      </div>
      <div class="card-news">
        <div class="card_image" style="background: url(../../../assets/icon/madison.jpg) no-repeat top center/cover;">
          <p>
            <ion-button id="trending">TRENDING</ion-button>
            <span>
              AFTER SHAKING HANDS FACIAL
              EXPRESSION SHOWED THERE
              WOULD NOT BE ANY CORONA 2.0
              UPDATE
            </span>
          </p>
          <div class="card_title">
            <div class="controls">
              <div class="views-main">
                <div class="views">
                  <ion-icon name="time"></ion-icon>
                </div>
                <p>May 1, 2021</p>
              </div>
    
              <div class="admin-main">
                <div class="admin">
                  <ion-icon name="person-outline"></ion-icon>
                </div>
                <p>Admin</p>
              </div>
            </div>
          </div>
        </div>
      </div>  
    
    
      <div class="news-spacer"></div>
    
      <div class="card-news">
        <div class="card_image" style="background: url(../../../assets/icon/madison.jpg) no-repeat top center/cover;">
          <p>
              <ion-button id="trending">POLITICS</ion-button>
              <span>
                AFTER SHAKING HANDS FACIAL
                EXPRESSION SHOWED THERE
                WOULD NOT BE ANY CORONA 2.0
                UPDATE
              </span>
            </p>
          
          <div class="card_title">
            <div class="controls">
              <div class="views-main">
                <div class="views">
                  <ion-icon name="time"></ion-icon>
                </div>
                <p>May 1, 2021</p>
              </div>
    
              <div class="admin-main">
                <div class="admin">
                  <ion-icon name="person-outline"></ion-icon>
                </div>
                <p>Admin</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </div>
</ion-content>
