@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin columncenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}


ion-content {
    --background: #fff;
    --padding-top: 1.5rem;
    --padding-start: 1.2rem;
    --padding-end: 1.2rem;
    
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            @include center();
            .box {
                @include center();
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
                border-radius:100%;
                width:25px;
                height:25px;
                margin-right: 5px;
                cursor: pointer;
                ion-icon {
                    color: #fc030b;
                }
            }
            .name {
                @include columncenter();
                opacity: 0.5;

                p {
                    margin: 0;
                }
            }
        }

        .right {
            @include center();
            
            ion-icon, .profile {
                margin-right: 10px;
                font-size: 1.2rem;
                opacity: 0.4;
            }
            .profile {
                background: brown;
                height: 30px;
                width: 30px;
                border-radius: 100%;
            }
        }
        .news-icon {
            @include center();
            font-weight: 800;
            font-size: 12px;
            img {
                height: 30px;
                width: 30px;
                margin: 0 5px;
            }
        }
    }
    .spacer {
        padding: 1rem 0;
    }
    .spacerS {
        padding: 0.5rem 0;
    }
    .suggestionbox {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        padding: 1rem 1rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
        color: gray;
        line-height: 0.5rem;
    }
    .form {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            padding-top: 1.5rem;
            padding-left: 1rem;
    
            p {
                margin: 0;
                padding: 0;
                font-size: 0.6rem;
    
            }
            ion-label {
                opacity: 0.5;
                font-size: 0.8rem;
            }
            ion-col {
                padding: 0;
                margin: 0;
            }
            ion-radio {
                border-radius: 100%;
                height: 20px;
                width: 20px;
                margin: 5px;
            }
            .radio-custom, .check-custom {
                display: flex;
                .radio-item {
                    display: flex;
                    align-items: center;
                    flex: 0.60;
                }
                .radio-item-right {
                    display: flex;
                    align-items: center;
                    flex: 0.40;
                }
            }
            .apply {
                display: flex;
                flex-direction: column;
                p {
                    margin-right: 3px;
                }
                .check-item {
                    display: flex;
                    align-items: center;
                    flex: 0.50;
                    margin: 5px;
                }
                .check-item-right {
                    display: flex;
                    align-items: center;
                    flex: 0.50;
                }
            }
            .submit {
                transform: translateX(180%);
                --background: #08ce57;
                height: 2rem;
                font-size: 0.9rem;
                font-weight: 700;
                margin: 1rem 0;
            }
        }

    .campaign {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        
        display: flex;
        height: 140px;
        font-size: 0.8rem;
        color: #fff;
        
        .flag {
            background: #fff;
            height: 100%;
            width: 550px;
        }
        .text {
            background: #0bd69f;
            padding: 5px;
            height: 100%;
            border-radius: 0 10px 10px 0;

            .title {
                text-transform: uppercase;
                font-weight: 800;
                text-align: center;
            }

            .share {
                display: flex;
                justify-content: space-between;
                text-align: end;
            }
            .body {
                margin-bottom: 1rem;
            }
            .icon {
                display: flex;
                justify-content: center;
                align-content: center;
                span {
                    margin: 0;
                    font-size: 0.6rem;
                    font-weight: 800;
                }
                .icon-img {
                    background: black;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    ion-icon {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
    ion-checkbox {
        --size: 20px;
        --border-color: black;
        // border: 1px solid black;
        margin-right: 5px;
    }
}

