<ion-content>

  <ion-card class="profile-card">
    <ion-grid>
      <ion-row id="close" (click)="navigate('pop')">
        <ion-icon  name="close"></ion-icon>
      </ion-row>

      <div class="profile-details">
        <img src="../../../assets/img/head.png" alt="">
        <div class="profile-text">
          <p id="name">John Smith</p>
          <p id="mobile">+233 45 456 6789 <span>alleneben@gmail.com</span></p>

          <div class="profile-buttons">
            <ion-button class="edit">edit profile</ion-button>
            <ion-button class="settings">settings <ion-icon name="settings"></ion-icon></ion-button>
            <img src="../../../assets/img/head.png" alt="">
          </div>
        </div>
      </div>
    </ion-grid>
  </ion-card>

  <ion-list no-lines style="padding-left: 25px;" class="menu-items">
    <ion-item style="margin-bottom: -5px;" *ngFor="let item of items" (click)="navigate(item.path)">
      <img src="../../../assets/icon/{{item.img}}" alt="">
      <span style="font-size: small; font-weight: bold; opacity: 0.7;">{{item.name}}</span>
    </ion-item>
  </ion-list>

  <div style="text-align: right;padding-right: 10px;opacity: 0.5;">
    <span style="font-size: small; font-weight: bold; ">App version v1.0</span>
  </div>
<!-- 
  <div style="position: absolute;bottom: 0;">
    <img src="../../../assets/icon/undraw_secure_login_pdn.png" style="height: 150px; width: 100%;" />
  </div> -->

</ion-content>