<ion-content [fullscreen]="true">
  <div class="top">
    <div class="left">
      <div class="box">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>
    </div>
    <div class="news-icon">
      <img src="../../../assets/icon/icons8-news-512.png" alt="" srcset="">
      NEWS
    </div>
    <div class="right">
      <div class="profile"></div>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="who-we-are">
    <div class="main-stories">
      <div class="title">
        <p>Main Stories</p>
        <div class="line"></div>
      </div>
      <div class="navigation">
        <ion-icon class="back" name="chevron-back-outline"></ion-icon>
        <ion-icon class="forward" name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  </div>

  <div class="card-news">
    <div class="card_image" style="background: url(../../../assets/icon/madison.jpg) no-repeat top center/cover;">  
      <p>
        <ion-button>BREAKING</ion-button>
        <span>
          AFTER SHAKING HANDS FACIAL
          EXPRESSION SHOWED THERE
          WOULD NOT BE ANY CORONA 2.0
          UPDATE
        </span>
      </p>
      <div class="card_title">
        <div class="controls">
          <div class="views-main">
            <div class="views">
              <ion-icon name="time"></ion-icon>
            </div>
            <p>May 1, 2021</p>
          </div>

          <div class="admin-main">
            <div class="admin">
              <ion-icon name="person-outline"></ion-icon>
            </div>
            <p>Admin</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="who-we-are">
    <p>News Update</p>
    <div class="line"></div>
  </div>
  <div class="card-news">
    <div class="card_image" style="background: url(../../../assets/icon/madison.jpg) no-repeat top center/cover;">
      <p>
        <ion-button id="trending">TRENDING</ion-button>
        <span>
          AFTER SHAKING HANDS FACIAL
          EXPRESSION SHOWED THERE
          WOULD NOT BE ANY CORONA 2.0
          UPDATE
        </span>
      </p>
      <div class="card_title">
        <div class="controls">
          <div class="views-main">
            <div class="views">
              <ion-icon name="time"></ion-icon>
            </div>
            <p>May 1, 2021</p>
          </div>

          <div class="admin-main">
            <div class="admin">
              <ion-icon name="person-outline"></ion-icon>
            </div>
            <p>Admin</p>
          </div>
        </div>
      </div>
    </div>
  </div>  


  <div class="news-spacer"></div>

  <div class="card-news">
    <div class="card_image" style="background: url(../../../assets/icon/madison.jpg) no-repeat top center/cover;">
      <p>
          <ion-button id="trending">POLITICS</ion-button>
          <span>
            AFTER SHAKING HANDS FACIAL
            EXPRESSION SHOWED THERE
            WOULD NOT BE ANY CORONA 2.0
            UPDATE
          </span>
        </p>
      
      <div class="card_title">
        <div class="controls">
          <div class="views-main">
            <div class="views">
              <ion-icon name="time"></ion-icon>
            </div>
            <p>May 1, 2021</p>
          </div>

          <div class="admin-main">
            <div class="admin">
              <ion-icon name="person-outline"></ion-icon>
            </div>
            <p>Admin</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
