ion-toolbar {
    --color: #ffffff; 
    --background: #2ecc71;
    height: 60px;
    ion-button,
    ion-back-button {
      --color: #fff;
    }
    ion-title {
      font-size: 1.2rem;
      font-weight: 800;
  }
}
ion-content {
    --background: #fff;
    --padding-top: 1.5rem;
    --padding-start: 1.2rem;
    --padding-end: 1.2rem;
    
    
    #p {
        margin: 0;
        opacity: 0.4;
        font-size: 0.8rem;
    }
    .spacer {
        padding: 1rem 0;
    }

    .card-support {
        // height: 100px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        background-color: #ff8e2b;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2px 0 10px 0;
        border-radius: 20px;

        .title {
            font-weight: 800;
            letter-spacing: 1px;
        }

        p {
            margin: 0;
        }
        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .mobile {
                background-color: #fff;
                border-radius: 20px;
                height: 80px;
                width: 80px;
                margin: 0 10px 0 0;
            }
            .message {
                font-weight: 400;

                p {
                    font-size: 0.8rem;
                }
            }
            .support-btn {
                --background: #9f0a86;
                height: 20px;
                font-size: 0.6rem;
            }
        }
        
    }

    .campaign {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        
        display: flex;
        height: 140px;
        font-size: 0.8rem;
        color: #fff;
        
        .flag {
            background: #fff;
            height: 100%;
            width: 550px;
        }
        .text {
            background: #0bd69f;
            padding: 5px;
            height: 100%;
            border-radius: 0 10px 10px 0;

            .title {
                text-transform: uppercase;
                font-weight: 800;
                text-align: center;
            }

            .share {
                display: flex;
                justify-content: space-between;
                text-align: end;
            }
            .body {
                margin-bottom: 1rem;
            }
            .icon {
                display: flex;
                justify-content: center;
                align-content: center;
                span {
                    margin: 0;
                    font-size: 0.6rem;
                    font-weight: 800;
                }
                .icon-img {
                    background: black;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    ion-icon {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }

    .radio-custom {
        display: flex;
        justify-content: space-around;

        .radio-item {
            display: flex;
            align-items: center;
            flex: 0.40;
            p {
                font-size: 0.7rem;
                // margin-right: 5px;
            }
            ion-radio {
                border-radius: 100%;
                height: 15px;
                width: 15px;
                margin: 5px;
            }
        }
        .radio-item-right {
            display: flex;
            align-items: center;
            flex: 0.60;
            p {
                font-size: 0.7rem;
            }
            ion-radio {
                border-radius: 100%;
                height: 15px;
                width: 15px;
                margin: 5px;
            }
        }
        
    }

    .transfer {
        display: flex;
        flex-direction: column;
        align-items: center;

        ion-item {
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

        }
    }
}