<ion-content [fullscreen]="true">
    <div class="top">
        <!-- <div class="box">
            <ion-icon name="chevron-back-outline"></ion-icon>                                     
        </div>
        Sign Up
        <div></div> -->
        <div class="logo"></div>
        <p>My First Platform</p>
    </div>
    <!-- <div id="button-background">
            <span class="slide-text">Swipe</span>
            <div id="slider" (touchstart)="slide($event)" (touchend)="slide($event)">
               <ion-icon id="locker" name="chevron-forward-outline"></ion-icon>
                
            </div>
        </div> -->
    <div class="card">
        <div class="card-top">
            <div class="card-title">
                <h1>SignUp</h1>
                <p><span>*</span> -field is required</p>
            </div>
            <div class="laptop"></div>
        </div>
        <form [formGroup]="initform" novalidate *ngIf="init">
            <ion-item>
                <ion-input placeholder="*Username" formControlName="username" type="text" required></ion-input>
                <button>
                    <ion-icon slot="end" name="person-outline"></ion-icon>
                </button>
            </ion-item>
            <ion-item>
                <ion-input placeholder="*Password" formControlName="pass" [type]="passwordtype" required></ion-input>
                <button>
                    <ion-icon slot="icon-only" [name]="passwordicon" (click)="hideshowpassword()"></ion-icon>
                </button>
            </ion-item>
            <ion-item>
                <ion-input placeholder="*Email" formControlName="email" type="email" required></ion-input>
                <button>
                    <ion-icon slot="end" name="at-outline"></ion-icon>
                </button>
            </ion-item>
            <!-- <ion-item>
                <ion-datetime placeholder="Date of Birth" displayFormat="YYYY-MM-DD" min="1970-01-01" max="2020-12-31" formControlName="" required>
                </ion-datetime>
            </ion-item> -->
            <ion-item>
                <ion-label position="floating">*Gender</ion-label>
                <ion-select formControlName="gender">
                    <ion-select-option value="1">Male</ion-select-option>
                    <ion-select-option value="2">Female</ion-select-option>
                </ion-select>
            </ion-item>

            <!-- <ion-item>
                <ion-input placeholder="Phone number" type="number"></ion-input>
                <button>
                    <ion-icon slot="end" name="call-outline"></ion-icon>
                </button>
            </ion-item> -->
            <!-- <ion-item>
                <ion-input placeholder="Country"></ion-input>
            </ion-item> -->
            <!-- <div class="two">
                <ion-item>
                    <ion-input placeholder="District"></ion-input>
                </ion-item>
                <div class="spacer"></div>
                <ion-item>
                    <ion-input placeholder="District"></ion-input>
                </ion-item>
            </div> -->
            <!-- <div class="two">
                <ion-item>
                    <ion-input placeholder="District"></ion-input>
                </ion-item>
                <div class="spacer"></div>
                <ion-item>
                    <ion-input placeholder="District"></ion-input>
                </ion-item>
            </div> -->
            <!-- <div class="two">
                <ion-item>
                    <ion-input placeholder="District"></ion-input>
                </ion-item>
                <div class="spacer"></div>
                <ion-input placeholder="District"></ion-input>
            </div> -->
        </form>
        <form [formGroup]="finalform" novalidate *ngIf="final">
            <ion-item>
                <ion-input placeholder="*First Name" formControlName="fname" type="text" required></ion-input>
                <button>
                    <ion-icon slot="end" name="person-outline"></ion-icon>
                </button>
            </ion-item>
            <ion-item>
                <ion-input placeholder="*Last Name" formControlName="lname" type="text" required></ion-input>
                <button>
                    <ion-icon slot="end" name="person-outline"></ion-icon>
                </button>
            </ion-item>
            <ion-item>
                <ion-datetime placeholder="Date of Birth" displayFormat="YYYY-MM-DD" min="1970-01-01" max="2020-12-31" formControlName="dob" required></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-input placeholder="Phone number" formControlName="phone" type="number"></ion-input>
                <button>
                    <ion-icon slot="end" name="call-outline"></ion-icon>
                </button>
            </ion-item>
            <ion-item>
                <ion-label position="floating">*Country</ion-label>
                <ion-select formControlName="country_list">
                    <ion-select-option value="1">Ghana</ion-select-option>
                    <ion-select-option value="2">Nigeria</ion-select-option>
                </ion-select>
            </ion-item>
            <div class="two">
                <ion-item>
                    <ion-label position="floating">*District</ion-label>
                    <ion-select formControlName="district_list">
                        <ion-select-option value="1">Ghana</ion-select-option>
                        <ion-select-option value="2">Nigeria</ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="spacer"></div>
                <ion-item>
                    <ion-label position="floating">*Constituency</ion-label>
                    <ion-select formControlName="const_list">
                        <ion-select-option value="1">Ghana</ion-select-option>
                        <ion-select-option value="2">Nigeria</ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
            <div class="two">
                <ion-item>
                    <ion-input placeholder="*Address(optional)" formControlName="address" required></ion-input>
                </ion-item>
                <div class="spacer"></div>
                <ion-item>
                    <ion-input placeholder="*Digital Address" formControlName="daddress" required></ion-input>
                </ion-item>
            </div>
            <div class="two">
                <ion-item>
                    <ion-label position="floating">*Are you a part of a political party?</ion-label>
                    <ion-select formControlName="pp">
                        <ion-select-option value="1">Yes</ion-select-option>
                        <ion-select-option value="2">No</ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="spacer"></div>
                <ion-item>
                    <ion-label position="floating">Choose Political Party</ion-label>
                    <ion-select formControlName="npp">
                        <ion-select-option value="1">npp</ion-select-option>
                        <ion-select-option value="2">ndc</ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
        </form>
        <div class="btn" *ngIf="init">
            <ion-button mode="ios" (click)="save('init')">Next</ion-button>
        </div>
        <div class="btn" *ngIf="final">
            <ion-button mode="ios" (click)="save('final')">Next</ion-button>
        </div>
    </div>
    <br />
    <div class="bg">
        <img src="../../../assets/icon/undraw_suburbs_8b83.png" alt="" srcset="">
    </div>
</ion-content>