<ion-content>

  <div style="background-color:white;">

    <div style="display:flex;align-items:center;justify-content:center; padding:15px;">
      <img src="../../../assets/img/head.png" style="border-radius: 85px; height: 150px;width: 150px;" />
    </div>

    <div style="text-align: center;align-items: center; display:inline; margin-top: 10px;">
      <h3 style="color: red; font-weight: bold; margin:0px">MY FIRST APPLICATION</h3>
      <h4 style="color: gray; margin: 5px;">Authentication</h4>
    </div>

    <div style="display:flex;align-items:center;justify-content:center;margin-top: 10px;">
      <img src="../../../assets/icon/undraw_secure_login_pdn4.png" style="height: 130px;width: 250px;" />
    </div>

    <div style="text-align: center;">
      <p style="font-size: 13px;color: gray; font-weight: bold;">Enter the 4 Digit code you received in your SMS inbox
      </p>
    </div>

    <div style="display:flex;align-items:center;justify-content:center; margin-top: 20px;">

      <div style="border: 1px solid; margin-left: 10px; margin:10px;
    padding: 10px; border-width: 0px; border-radius: 5px;
    box-shadow: 5px 5px 18px pink; width: 60px; text-align: center;">
        <ion-input placeholder=""></ion-input>
      </div>

      <div style="border: 1px solid; margin-left: 10px; margin:10px;
    padding: 10px; border-width: 0px; border-radius: 5px;
    box-shadow: 5px 5px 18px green; width: 60px; text-align: center;">
        <ion-input placeholder=""></ion-input>
      </div>

      <div style="border: 1px solid; margin-left: 10px; margin:10px;
    padding: 10px; border-width: 0px; border-radius: 5px;
    box-shadow: 5px 5px 18px yellow; width: 60px; text-align: center;">
        <ion-input placeholder=""></ion-input>
      </div>

      <div style="border: 1px solid; margin-left: 10px; margin:10px;
    padding: 10px; border-width: 0px; border-radius: 5px;
    box-shadow: 5px 5px 18px gray; width: 60px; text-align: center;">
        <ion-input placeholder=""></ion-input>
      </div>
    </div>

    <div style="display:flex;align-items:center;justify-content:center; padding:20px">
      <ion-button class="authenticate_button" size="small">Authenticate</ion-button>
    </div>

    <div>
      <img src="../../../assets/icon/undraw_suburbs_8b83.png" style="height: '100%'; width: 100%;" />
    </div>


  </div>
</ion-content>