<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img src="../../assets/icon/icons8-chat-64.png" alt="">
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="../../assets/icon/icons8-sound-100.png" alt="">
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="../../assets/icon/icons8-home-512.png" alt="">
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <img src="../../assets/icon/icons8-donate-240.png" alt="">
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <img src="../../assets/icon/icons8-online-support-64.png" alt="">
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
