<ion-content [fullscreen]="true">
  <div class="top">
    <div class="left">
      <div class="box" (click)="navigate('/menu')">
        <ion-icon name="filter-outline"></ion-icon>
      </div>
      <div class="name">John Smith<br/>Ghana</div> 
    </div>
    
    <div class="right">
      <ion-icon name="search-outline"></ion-icon>
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-icon name="settings"></ion-icon>
      <div class="profile"></div>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="app-main">
    <div class="logo"></div>
    <p>My First Platform</p>
  </div>

  <div class="spacer"></div>

  <div class="who-we-are">
    <p>Who we are?</p>
    <div class="line"></div>
  </div>

  <div class="card">
    <img src="../../../assets/img/head.png" alt="">
    <div class="text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, est.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, facere?</p>
      <ion-button>Read more ...</ion-button>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="who-we-are">
    <p>News <span>View all</span></p>
    <div class="line"></div>
  </div>

  <div class="card-news">
    <div class="card_image" style="background: url(https://i.redd.it/b3esnz5ra34y.jpg) no-repeat top center/cover;border-radius: 10px 10px 0 0;">
      <div class="card_title">
        <div class="controls">
          <div class="views-main">
            <div class="views">
              <ion-icon name="eye"></ion-icon>
            </div>
            <p>200 <span>views</span></p>
          </div>
          <div class="comments-main">
            <div class="comments">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </div>
            <p>100 <span>comments</span></p>
          </div>
          <div class="admin-main">
            <div class="admin">
              <ion-icon name="person-outline"></ion-icon>
            </div>
            <p>GFP Admin</p>
          </div>
        </div>
        <div class="view-btn">view</div>
      </div>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="card-support">
    <div class="title">Support Us</div>
    <div class="content">
      <div class="mobile">

      </div>
      <div class="message">
        <div class="">
          <p>Support us by dialing short code</p>
          <p>and send <strong>SUPPORT</strong> to *712*13#</p>
          <p>airtime 0.50p <ion-button class="support-btn">Support us</ion-button></p>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</ion-content>
