<ion-content>

  <ion-row style="background-color: #2CDE6D;">

    <!--header picture-->
    <ion-col size="2" style="text-align: center; align-self: center; padding-top: 10px;">
      <img src="../../../assets/img/head.png" style="border-radius: 50px;width:50px;height: 50px;" />
    </ion-col>

    <!--header title-->
    <ion-col size="7" style=" align-self: center;">
      <ion-label style="color: white; text-overflow: ellipsis;">Dorman Kwabenya -
        Construction</ion-label>
    </ion-col>

    <!--feedback icon-->
    <ion-col size="1" style="text-align: center; align-self: center;padding-top: 10px;">
      <ion-icon name="chatbubble" style="zoom: 1.5;color:white;"></ion-icon>
    </ion-col>

    <!--notifications-->
    <ion-col size="1" style="text-align: center; align-self: center; padding-top: 10px;">
      <ion-icon name="notifications" style="zoom: 1.5;color:white"></ion-icon>
    </ion-col>

    <!--more icon-->
    <ion-col size="1" style=" text-align: left; align-self: center; padding-top: 10px;">
      <ion-icon name="menu" style="zoom: 1.5; color: white;"></ion-icon>
    </ion-col>

  </ion-row>


  <!--list-->
  <ion-list no-lines>

    <!--message row for user 2-->
    <ion-row style="margin-top: 5px;margin-bottom: 5px;">

      <!--profile picture next to message bubble-->
      <ion-col size="2" style="align-self: center;padding-left: 15px;margin-left: 5px;">
        <img src="../../../assets/img/head.png" style="border-radius: 50px;width:50px;height: 45px;" />
      </ion-col>

      <!--message bubble-->
      <ion-col style="justify-content: center;">
        <div
          style="font-weight: 500;font-size: 13px;border-radius: 10px;background-color: #EBEBEB;color: black;padding-top: 10px; padding-bottom: 10px;padding-left: 10px; padding-right: 10px; margin-right: 35px;">
          <span style=" white-space:normal;">It seems that the player is not
            buffering, but waiting for the video to fully loaded before start playing it, any idea of how to fix
            it?</span>
        </div>
      </ion-col>
    </ion-row>



    <!--message row for logged in user-->
    <ion-row style="margin-top: 5px;margin-bottom: 5px;">

      <!--message bubble-->
      <ion-col style="justify-content: center;">
        <div
          style="font-weight: 500;font-size: 13px;border-radius: 10px;background-color: #EBEBEB;color: black;padding-top: 10px; padding-bottom: 10px;padding-left: 10px;margin-left: 35px;padding-right: 5px;">
          <span style=" white-space:normal;">It seems that the player is not
            buffering, but waiting for the video to be fully loaded before start playing it, any idea of how to fix
            it?</span>
        </div>
      </ion-col>

      <!--profile picture next to message bubble-->
      <ion-col size="2" style="align-self: center;padding-left: 0px;margin-right: 5px;">
        <img src="../../../assets/img/head.png" style="border-radius: 50px;width:50px;height: 45px;" />
      </ion-col>
    </ion-row>

  </ion-list>


</ion-content>


<ion-footer>

  <ion-row>

    <!--microphone-->
    <ion-col style="text-align: center; align-self: center; padding-top: 10px;">
      <ion-icon name="mic" style="zoom: 2;color: #2CDE6D;"></ion-icon>
    </ion-col>

    <!--camera-->
    <ion-col style="text-align: center; align-self: center;padding-top: 10px;">
      <ion-icon name="camera" style="zoom: 2;color: #2CDE6D;"></ion-icon>
    </ion-col>

    <!--photos-->
    <ion-col style="text-align: center; align-self: center; padding-top: 10px;">
      <ion-icon name="images" style="zoom: 2;color:#2CDE6D"></ion-icon>
    </ion-col>

    <!--textarea-->
    <ion-col size="6" style=" align-self: center;">
      <ion-textarea
        style="padding-bottom: 5px; padding-left: 10px;  border-radius: 50px;height: 100%;border:1px solid #2CDE6D;"
        rows="1" placeholder="type a message..."></ion-textarea>
    </ion-col>

    <!--thumbs up-->
    <ion-col style="text-align: center; align-self: center; padding-top: 10px;">
      <ion-icon name="thumbs-up" style="zoom: 2; color: #2CDE6D;"></ion-icon>
    </ion-col>

  </ion-row>

</ion-footer>