@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin columncenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}


ion-content {
    --background: #fff;
    --padding-top: 1.5rem;
    --padding-start: 1.2rem;
    --padding-end: 1.2rem;
    
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            @include center();
            .box {
                @include center();
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
                border-radius:100%;
                width:25px;
                height:25px;
                margin-right: 5px;
                cursor: pointer;
                ion-icon {
                    color: #fc030b;
                }
            }
            .name {
                @include columncenter();
                opacity: 0.5;

                p {
                    margin: 0;
                }
            }
        }

        .right {
            @include center();
            
            ion-icon, .profile {
                margin-right: 10px;
                font-size: 1.2rem;
                opacity: 0.4;
            }
            .profile {
                background: brown;
                height: 30px;
                width: 30px;
                border-radius: 100%;
            }
        }
        .news-icon {
            @include center();
            font-weight: 800;
            font-size: 12px;
            img {
                height: 30px;
                width: 30px;
                margin: 0 5px;
            }
        }
    }
    .spacer {
        padding: 1rem 0;
    }
    .suggestionbox {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        padding: 1rem 1rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
        color: gray;
        line-height: 0.5rem;
    }
    .form {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        padding-top: 1.5rem;
        padding-left: 1rem;
        ion-label {
            opacity: 0.3;
            margin-top: 1.5rem;
            font-size: 0.9rem;
        }
        ion-textarea{
            --placeholder-opacity: 0.3;
            font-size: 0.9rem;
        }
        
        ion-item {
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            margin: 0.8rem 0 1.5rem 0;
        }
        .submit {
            transform: translateX(150%);
            --background: #08ce57;
            height: 2rem;
            font-size: 0.9rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
    }
    .card-support {
        // height: 100px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        background-color: #ff8e2b;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2px 0 10px 0;
        border-radius: 20px;

        .title {
            font-weight: 800;
            letter-spacing: 1px;
        }

        p {
            margin: 0;
        }
        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .mobile {
                background-color: #fff;
                border-radius: 20px;
                height: 80px;
                width: 80px;
                margin: 0 10px 0 0;
            }
            .message {
                font-weight: 400;

                p {
                    font-size: 0.8rem;
                }
            }
            .support-btn {
                --background: #9f0a86;
                height: 20px;
                font-size: 0.6rem;
            }
        }
        
    }

    .campaign {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        
        display: flex;
        height: 140px;
        font-size: 0.8rem;
        color: #fff;
        
        .flag {
            background: #fff;
            height: 100%;
            width: 550px;
        }
        .text {
            background: #0bd69f;
            padding: 5px;
            height: 100%;
            border-radius: 0 10px 10px 0;

            .title {
                text-transform: uppercase;
                font-weight: 800;
                text-align: center;
            }

            .share {
                display: flex;
                justify-content: space-between;
                text-align: end;
            }
            .body {
                margin-bottom: 1rem;
            }
            .icon {
                display: flex;
                justify-content: center;
                align-content: center;
                span {
                    margin: 0;
                    font-size: 0.6rem;
                    font-weight: 800;
                }
                .icon-img {
                    background: black;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    ion-icon {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
}